.searchContainer{
  width: 100vw;
  height: 10vh;
}
.charListContainer{
  display: flex;
}
.charContainer{
  display: flex;
  border: 0;
  width: 33.3%;
  padding: 2%;
  background-color: transparent;
}
.charCard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #7077A1;
  border: 2px solid #F6B17A;
  border-radius: 15px;
  box-shadow:
    1px 1px 1px #F6B17A44,
    2px 2px 2px #F6B17A33,
    3px 3px 3px #F6B17A22,
    5px 5px 5px #F6B17A11;
}
/*Start of text*/
.textContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #F6B17A;
  width: 45%;
  margin-top: 5%;
}
.textContainer > p{
  width: 100%;
}
