<div id="page">
  <div class="col">
    <button type="button" class="charDef" (click)="nav()" id="backButton">
      <img *ngIf="char.nameNoSpace!==''" src="{{this.constants.API_VERSION}}/images/characters?name={{char.nameNoSpace}}" alt="{{char.nameNoSpace}}" class="charPortrait">
      <div class="minorContainer">
        <img src="{{this.constants.API_VERSION}}/images/icons/element?name={{this.constants.ELEMENT_ENUM[char.element]}}" alt="element" class="minorImg">
        <img src="{{this.constants.API_VERSION}}/images/icons/class?name={{this.constants.CLASS_ENUM[char.class]}}" alt="element" class="minorImg">
      </div>
      <h4 class="charName">
        {{char.name}}
      </h4>
    </button>
    <div id="base_stats" class="gearCol">
      <h4>Base Stats</h4>
      <p *ngFor="let key of this.statkeys; let i = index" style="display: flex; align-items: center;">
        <img src="/api/v1/images/icons/stats?name={{key}}" alt="">
        {{key}} :  {{getBase(key)}}{{i>3?("%"):("")}}
      </p>
    </div>
    <div id="post_gear_stats" class="gearCol">
      <h4>Post Gear Stats</h4>
      <p *ngFor="let key of this.statkeys; let i = index" style="display: flex; align-items: center;">
        <img src="/api/v1/images/icons/stats?name={{key}}" alt="">
        {{key}} :  {{getPostGear(key)}}{{i>3?("%"):("")}}
      </p>
    </div>
  </div>
  <div class="col" *ngFor="let col of [[0,1,2],[3,4,5]]">
    <div *ngFor="let card of col" class="equipmentCard">
      <h4>Weapon</h4>
      <div class="input-group">
        <span class="input-group-text col-1">Gear set:</span>
        <select class="form-select set-select" [(ngModel)]="gear[card].type" aria-label="Select gear set">
          <option *ngFor="let opt of this.constants.GEAR_ENUM; let i = index" [value]="+i">
            {{opt}}
          </option>
        </select>
        <span
          class="input-group-text"
          *ngIf="gear[card].type>=0"
          style="
            background-image: url('{{this.constants.API_VERSION}}/images/icons/gearSets?name={{this.constants.GEAR_ENUM[gear[card].type]}}');
            background-repeat: no-repeat;background-position: center center;
          "
        ></span>
        <span class="input-group-text" *ngIf="gear[card].type===-1"></span>
        <span class="input-group-text" style="width: 60px;">Level:</span>
        <select class="form-select" id="{{card}}_level-select" [(ngModel)]="gear[card].level" aria-label="Select gear level">
          <option *ngFor="let opt of this.constants.LEVEL_ENUM; let i = index" [value]="+i">
            {{opt}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-text col-1">Main stat:</span>
        <select class="form-select" [(ngModel)]="gear[card].main" aria-label="Select main stat" disabled="{{(card<3?(true):(false))}}">
          <option *ngFor="let opt of this.constants.STAT_ENUM; let i = index" [value]="+i">
            {{opt.name}}
          </option>
        </select>
        <span class="input-group-text number-input">{{constants.STAT_ENUM[gear[card].main].main[gear[card].level]}}</span>
        <span class="input-group-text"style="background-image: url('{{this.constants.API_VERSION}}/images/icons/stats?name={{this.constants.STAT_ENUM[gear[card].main].name}}');background-repeat: no-repeat;background-position: center center;"></span>
      </div>
      <div style="display: flex; width: 100%;justify-content: space-between;">
        <!-- The *ngfor loop caused render errors -->
        <!-- <div *ngFor="let col of gear[card].hits; let i = index;">
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input *ngFor="let row of gear[card].subs; let j = index" type="radio" class="btn-check" name="{{i}}_radio" id="{{i}}_{{j}}" autocomplete="off" (click)="gear[card].hits[i]=j;debugg({i,j,bool:gear[card].hits[i]===j})" [checked]="gear[card].hits[i]===j">
            <label *ngFor="let row of gear[card].subs; let j = index" class="btn btn-light" for="{{i}}_{{j}}">+{{(i+1)*3}}</label>
          </div>
        </div> -->
        <div style="display: flex; width: 50%;"><!--Left box-->
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="{{card}}_0_radio" id="{{card}}_0_1" autocomplete="off" (click)="gear[card].hits[0]=0;" [checked]="gear[card].hits[0]===0"> <label class="btn btn-light" for="{{card}}_0_1">+{{(0+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_0_radio" id="{{card}}_0_2" autocomplete="off" (click)="gear[card].hits[0]=1;" [checked]="gear[card].hits[0]===1"> <label class="btn btn-light" for="{{card}}_0_2">+{{(0+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_0_radio" id="{{card}}_0_3" autocomplete="off" (click)="gear[card].hits[0]=2;" [checked]="gear[card].hits[0]===2"> <label class="btn btn-light" for="{{card}}_0_3">+{{(0+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_0_radio" id="{{card}}_0_4" autocomplete="off" (click)="gear[card].hits[0]=3;" [checked]="gear[card].hits[0]===3"> <label class="btn btn-light" for="{{card}}_0_4">+{{(0+1)*3}}</label>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="{{card}}_1_radio" id="{{card}}_1_1" autocomplete="off" (click)="gear[card].hits[1]=0;" [checked]="gear[card].hits[1]===0"> <label class="btn btn-light" for="{{card}}_1_1">+{{(1+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_1_radio" id="{{card}}_1_2" autocomplete="off" (click)="gear[card].hits[1]=1;" [checked]="gear[card].hits[1]===1"> <label class="btn btn-light" for="{{card}}_1_2">+{{(1+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_1_radio" id="{{card}}_1_3" autocomplete="off" (click)="gear[card].hits[1]=2;" [checked]="gear[card].hits[1]===2"> <label class="btn btn-light" for="{{card}}_1_3">+{{(1+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_1_radio" id="{{card}}_1_4" autocomplete="off" (click)="gear[card].hits[1]=3;" [checked]="gear[card].hits[1]===3"> <label class="btn btn-light" for="{{card}}_1_4">+{{(1+1)*3}}</label>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="{{card}}_2_radio" id="{{card}}_2_1" autocomplete="off" (click)="gear[card].hits[2]=0;" [checked]="gear[card].hits[2]===0"> <label class="btn btn-light" for="{{card}}_2_1">+{{(2+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_2_radio" id="{{card}}_2_2" autocomplete="off" (click)="gear[card].hits[2]=1;" [checked]="gear[card].hits[2]===1"> <label class="btn btn-light" for="{{card}}_2_2">+{{(2+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_2_radio" id="{{card}}_2_3" autocomplete="off" (click)="gear[card].hits[2]=2;" [checked]="gear[card].hits[2]===2"> <label class="btn btn-light" for="{{card}}_2_3">+{{(2+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_2_radio" id="{{card}}_2_4" autocomplete="off" (click)="gear[card].hits[2]=3;" [checked]="gear[card].hits[2]===3"> <label class="btn btn-light" for="{{card}}_2_4">+{{(2+1)*3}}</label>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="{{card}}_3_radio" id="{{card}}_3_1" autocomplete="off" (click)="gear[card].hits[3]=0;" [checked]="gear[card].hits[3]===0"> <label class="btn btn-light" for="{{card}}_3_1">+{{(3+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_3_radio" id="{{card}}_3_2" autocomplete="off" (click)="gear[card].hits[3]=1;" [checked]="gear[card].hits[3]===1"> <label class="btn btn-light" for="{{card}}_3_2">+{{(3+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_3_radio" id="{{card}}_3_3" autocomplete="off" (click)="gear[card].hits[3]=2;" [checked]="gear[card].hits[3]===2"> <label class="btn btn-light" for="{{card}}_3_3">+{{(3+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_3_radio" id="{{card}}_3_4" autocomplete="off" (click)="gear[card].hits[3]=3;" [checked]="gear[card].hits[3]===3"> <label class="btn btn-light" for="{{card}}_3_4">+{{(3+1)*3}}</label>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check" name="{{card}}_4_radio" id="{{card}}_4_1" autocomplete="off" (click)="gear[card].hits[4]=0;" [checked]="gear[card].hits[4]===0"> <label class="btn btn-light" for="{{card}}_4_1">+{{(4+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_4_radio" id="{{card}}_4_2" autocomplete="off" (click)="gear[card].hits[4]=1;" [checked]="gear[card].hits[4]===1"> <label class="btn btn-light" for="{{card}}_4_2">+{{(4+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_4_radio" id="{{card}}_4_3" autocomplete="off" (click)="gear[card].hits[4]=2;" [checked]="gear[card].hits[4]===2"> <label class="btn btn-light" for="{{card}}_4_3">+{{(4+1)*3}}</label>
            <input type="radio" class="btn-check" name="{{card}}_4_radio" id="{{card}}_4_4" autocomplete="off" (click)="gear[card].hits[4]=3;" [checked]="gear[card].hits[4]===3"> <label class="btn btn-light" for="{{card}}_4_4">+{{(4+1)*3}}</label>
          </div>
        </div>
        <div style="display: flex;flex-direction: column;"><!--Right box-->
          <div *ngFor="let row of gear[card].subs; let j = index" class="input-group sub-row">
            <select class="form-select" [(ngModel)]="gear[card].subs[j].stat" aria-label="Select main stat">
              <option *ngFor="let opt of this.constants.STAT_ENUM; let i = index" [value]="+i" ng-disabled="isUsed(game[card],i)">
                {{opt.name}}
              </option>
            </select>
            <input type="number" class="input-group-text number-input" name="placeholder-{{row.stat}}" id="{{card}}_placeholder-{{row.stat}}" [(ngModel)]="gear[card].subs[j].value">
            <span class="input-group-text"style="background-image: url('{{this.constants.API_VERSION}}/images/icons/stats?name={{this.constants.STAT_ENUM[row.stat].name}}');background-repeat: no-repeat;background-position: center center;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
